* {
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
}

nav, main, footer {
  padding: 0 10px;
}

nav {
  min-height: 75px;
  background-color: #333333;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .navlist {
    width: 30%;
    display: flex;
    justify-content: space-between;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 1.5em;
  .redbox {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 1.5em;
    background-color: red;
    width: 1.25em;
    height: 1.25em;
    margin-right: 5px;
  }
}

main {
  padding-top: 10px;
  min-height: 600px;
  background-color: #ffffff;
}